.collage-bg {
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}
.collage-img {
  position: absolute;
  border: 4px solid #fff;
  box-shadow: 0 4px 16px #0002, 0 1px 4px #d16ba5aa;
  border-radius: 10px;
  opacity: 0.92;
  object-fit: cover;
  transition: filter 0.3s;
}
.collage1 { width: 150px; height: 120px; top: 75%; left: 53%; transform: rotate(2deg); z-index: 4;}
.collage2 { width: 140px; height: 110px; top: 40%; left: 77%; transform: rotate(-2deg); z-index: 2;}
.collage3 { width: 160px; height: 80px; top: 40%; left: 45%; transform: rotate(8deg); z-index: 2;}
.collage4 { width: 120px; height: 90px; top: 47%; left: 21%; transform: rotate(8deg); z-index: 3;}
.collage5 { width: 120px; height: 130px; top: 40%; left: 45%; transform: rotate(4deg); z-index: 1;}
.collage6 { width: 130px; height: 90px; top: 68%; left: 45%; transform: rotate(4deg); z-index: 1;}

@media (max-width: 900px) {
  .collage-img {
    width: 60px !important; height: 40px !important;
  }
}
